{% extends "base.html" %}
{% load static %}
{% block title %}HOME{% endblock %}
{% block content %}
<center><img src="{% static 'website/logo.png' %}" width="100px"></center>
<h2>Welcome to the Meeting Planner</h2>
<p> This is <em>Mayur Kanojiya</em> trying out django getting started course from <em>pluralsight.com</em></p>
<p>There are {{meetings_count}} meetings(s).</p>
<ul>
    {% for meeting in meetings %}
    <li>
        <a href="{% url 'detail' meeting.id %}">{{meeting.title}}</a>
    </li>
    {% endfor %}
</ul>

<div>
    <a href="{% url 'room' %}">Availlable Rooms</a>
</div>
<div>
    <a href="{% url 'create_meeting' %}">Create Meeting</a>
</div>
{% endblock %}